.hero{
  width: 80%;
}
.hero__search{
  margin: 50px auto 0 auto ;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#999;
}

.search__button {
  height: 50px;
  width: 50px;
  background-color: #333333;
  outline: transparent;
  border:none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.search__button:hover{
  background-color: #666;
  cursor: pointer;
}
.search__button img{
  filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(318deg) brightness(89%) contrast(93%);
}
.hero__search input{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  min-width: 450px;
  height: 50px;
  padding: 15px;
  font-size: 0.9rem;
  background-color: #333333;
  color: #ffffff;
  outline: none;
  border: 5px;

}
section{
  color:white;
}

.section__paragraph{
  margin: auto;
  width: 60%;
  font-size: 1rem;
  font-weight: lighter;
}
.section__buttons{
  margin:50px auto 20px auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  width: 600px;
}

.buttons__button{
  font-size: 0.8rem;
  font-weight: bold;
  height: 40px;
  padding:12px;
  border-radius: 10px;
  color: inherit;
}
[class*="--blue"] {
  background: #678fff ;
}
[class*="--small"] {
  font-size: 0.7rem;
}
.fa-icon {
  width: 20px;
  color: #ffffff;
  height: 20px;
}



